<div id="BlogModal" class="modal " role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
         <h2>New Blog</h2>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
       
      </div>
        <div class="modal-body">
          <%= simple_form_for @blog,url: blogs_path, remote: true  do |f| %>
            <div class="form-group">
              <%= f.input :title %>
            </div>
            <br>
            <div class="form-group">
              <%= f.input :content %>
            </div>
            <br>
            <div class="form-group">
              <%= f.association :author, collection: Author.order(:name)%>
            </div>
            <br>
            <%= f.fields_for :pictures do |b| %>
              <div class="form-group">
                <%= b.input :image %>
              </div>
            <% end %>
            <br>
            <div class="modal-footer">
              <div class="text-center">
                <%= f.button :submit,'Save', class: 'btn btn-primary' %>
              </div>
            </div>
          <% end %>
        </div>
    </div>
  </div>
</div>
