<section>
  <form>
      <%= simple_form_for @blog,url: blogs_path, remote: true  do |f| %>
        <div class="form-group">
          <%= f.input :title %>
        </div>
        <br>
        <div class="form-group">
          <%= f.input :content %>
        </div>
        <br>
        <div class="form-group">
          <%= f.association :author, collection: Author.order(:name)%>
        </div>
        <br>
        <%= f.fields_for :pictures do |b| %>
          <div class="form-group">
            <%= b.file_field :image %>
          </div>
        <% end %>
        <br>
        <div class="form-group">
          <%= f.button :submit %>
        </div>
      <% end %>
  </form>
</section>
