<div class="card">
	<div class="card-body">
		<h3><%= blog.title %></h3>
		<p><%= image_tag blog.pictures.pluck(:image).join(','),class:"card-img-top" %></p>
		<p><%= blog.content %></p>
		<%= link_to 'Show',blog, class: 'btn btn-primary'%>
		<%= link_to 'Delete', blog, method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class:'btn btn-primary'%>
	</div>
</div>
