<div class="container-fluid">
  <h3><%=@blog.title%></h3>
  <div class="card" style="width: auto;" >
    <div class="card-body" style="height: 30%;">
      <div>
        <% @blog.pictures.each do |img|  %>
          <%= image_tag img.image_url, style: 'height:15rem;width:auto;',class:'pull-left' %>
        <% end %>
      </div>
      <div>
        <p><h5><%= @blog.content.html_safe%></h5></p>
      </div>
    </div>
  </div>
  <h3>Comments</h3>
  <div class="card" style="width: 21rem;">
    <div class="card-body">
      <%= render @blog.comments %>
    </div>
  </div>
  <h3>Leave a reply</h3>
  <div class="card" style="width: 21rem;">
    <div class="card-body">
      <%= render 'comments/form' %>
    </div>
  </div>
  <br>
  <%= link_to 'Back',blogs_path, class:'btn btn-primary'%> 
</div>  