<div class="container-fluid">
  <h3><%#=@blog.title%></h3>
  <div class="slideshow-container">
    <% @blog.pictures.each do |img|  %>
      <div class="mySlides">
        <%= image_tag img.image_url,style:'width:100%;'%>
      </div>
    <% end %>
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <br>
  <div class="card">
    <div class="card-body">
      <h5><%= @blog.content.html_safe%></h5>
    </div>
  </div>
  <h3>Comments</h3>
  <div class="card" style="width: 21rem;">
    <div class="card-body">
      <%= render @blog.comments %>
    </div>
  </div>
  <h3>Leave a reply</h3>
  <div class="card" style="width: 21rem;">
    <div class="card-body">
      <%= render 'comments/form' %>
    </div>
  </div>
  <br>
  <%= link_to 'Back',blogs_path, class:'btn btn-primary'%> 
</div>  
